* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}

.hidden-title {
  display: none;
}

.separator {
  width: 100%;
  background-color: grey;
  border: none;
}

.separator--light {
  height: 0.1rem;
}

.separator--bold {
  height: 0.2rem;
}

.note {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.inline-bold {
  font-weight: 700;
}

.headline-1 {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.3rem;
}
