:root {
  --color-primary: #6593a6;
  --color-secondary: #b7ccd5;
  --color-lightgray: #d3d3d3;
  --color-lightblue: #add8e6;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-danger: #dc3545;
  --color-danger-light: #f8d7da;
  --color-warning: #ffc107;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  min-width: 360px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}

.hidden-title {
  visibility: hidden;
}

.separator {
  width: 100%;
  background-color: lightgrey;
  border: none;
}

.separator--light {
  height: 0.1rem;
}

.separator--bold {
  height: 0.2rem;
}

.inline-bold {
  font-weight: 700;
}

.space--small {
  margin: 0;
  padding: 0;
  height: 0.5rem;
}

.space--medium {
  margin: 0;
  padding: 0;
  height: 1.5rem;
}

.space--large {
  margin: 0;
  padding: 0;
  height: 2.5rem;
}

a {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: var(--color-primary);
}

.headline {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
}
