.budgets {
  min-width: 330px;
  margin: 0;
  padding: 0;
}

.budgets__title {
  font-size: x-large;
  font-weight: 700;
  padding: 0;
}

.budgets__note {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.budgets__headline {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
}

.budgets__tab {
  margin: 0 0 0 0.5rem;
}

.budgets__button--space {
  margin: 0 0.5rem;
}
