.budgets {
  min-width: 330px;
}

.budgets__title {
  font-size: x-large;
  font-weight: 700;
  padding: 0;
}

.budgets__month {
  font-size: x-large;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.budgets__note {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.budgets__headline {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.budgets a {
  font-weight: 400;
  color: #6593a6;
}

.budgets__tab {
  margin: 0 0 0 0.5rem;
}

.budgets__button {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.budgets__button--space {
  margin: 0 0.5rem;
}
