.card {
  width: 100%;
  font-size: 1.4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.row--header {
  font-weight: 700;
  border-bottom: none;
}

.col {
}
