.dashboard {
  min-width: 360px;
}
.dashboard__month {
  font-size: x-large;
  font-weight: 300;
  margin: 1.5rem 0 1.2rem 0;
  padding: 0;
}

.dashboard__note {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.dashboard__headline {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.3rem;
}

.dashboard__cashflow__table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
}

.dashboard__cashflow__td {
  border-bottom: 1px solid lightgrey;
  text-align: left;
  padding: 0.2rem 0;
}

.dashboard__cashflow__td--right {
  text-align: right;
}

.dashboard__cashflow__td--bottom {
  border-bottom: none;
}

.dashboard__cashflow__td--border-double {
  border-bottom: 2px solid lightgrey;
}
