.input {
  width: 100%;
  margin-top: 1rem;
  padding: 0;
}

.input__text {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid lightgray;
  padding: 0rem 0 0.5rem 0;
  outline: 0;
  font-size: 1.4rem;
  height: 1.6rem;
  background-color: transparent;
  transition: border-color 0.2s;
}

.input__text::placeholder {
  color: lightgray;
}

.input__text:focus {
  border-bottom: 1px solid #6593a6;
}

.input__label {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
