.month {
  font-size: x-large;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.month__title-box {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 0.5rem 0;
  width: 100%;
  font-size: x-large;
  font-weight: 700;
  padding: 0;
}

.month__month-box,
.month__title {
  margin: 0;
  padding: 0;
}

.month__title {
  text-transform: uppercase;
}

.month__year {
  font-weight: 300;
}

.month__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 4rem;
  width: 100%;
  margin-top: 0.3rem;
  -webkit-overflow-scrolling: touch;
}

.month__space {
  margin: 0 0.5rem;
}

.month__selected {
  font-weight: 700;
}

/* .month__list::-webkit-scrollbar {
  display: none;
} */

.month__item-box {
  flex: 0 0 auto;
  font-size: medium;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.month__not-selected:hover {
  cursor: pointer;
  color: #6593a6;
}
