.navigation {
  position: relative;
  margin: 0 auto;
  height: 4.2rem;
  background-color: black;
}

@media screen and (min-width: 1024px) {
  .navigation {
    width: 1024px;
  }
}

.navigation a,
.navigation a:link,
.navigation a:visited {
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #6593a6;
}

.navigation a:hover,
.navigation a:active {
  color: #ffffff;
}

.navigation__logo-box {
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
  z-index: 200;
}

.navigation__logo {
  height: 2.4rem;
}

.navigation__auth-box {
  position: absolute;
  top: 0.9rem;
  right: 4.8rem;
  z-index: 200;
}

@media screen and (min-width: 1024px) {
  .navigation__auth-box {
    right: 1.5rem;
  }
}

.navigation__user {
  color: #ffffff;
  cursor: pointer;
}

.navigation__menu-box {
  position: absolute;
  top: 0.9rem;
  right: 8.6rem;
  display: none;
}

@media screen and (min-width: 1024px) {
  .navigation__menu-box {
    display: block;
    right: 5.3rem;
  }
}

.navigation__menu-box ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navigation__menu-box ul li {
  display: inline-block;
  margin-left: 2rem;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: absolute;
  top: 0.8rem;
  right: 1.5rem;
  height: 2.8rem;
  width: 1.8rem;
  z-index: 200;
}

@media screen and (min-width: 1024px) {
  .navigation__button {
    display: none;
  }
}

.navigation__nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 150;
  background-color: black;

  visibility: hidden;
  height: 0;

  transition: all 0.8s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  visibility: hidden;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
  padding: 0;
  color: #6593a6;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  color: #ffffff;
  transform: translateY(-0.5rem);
}

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  height: 100vh;
}

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  visibility: visible;
}

.navigation__icon {
  position: relative;
  margin-top: 1.2rem;
  transition: all 0.4s;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 1.8rem;
  height: 0.2rem;
  background-color: #ffffff;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.4s;
}

.navigation__icon::before {
  top: -0.7rem;
}

.navigation__icon::after {
  top: 0.7rem;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
