.transactions {
  min-width: 330px;
}

.transactions__title {
  font-size: x-large;
  font-weight: 700;
  padding: 0;
}

.transactions__month {
  font-size: x-large;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.transactions__note {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.transactions__headline {
  font-size: large;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.transactions a {
  font-weight: 400;
  color: #6593a6;
}

.transactions__tab {
  margin: 0 0 0 0.5rem;
}

.transactions__button {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.transactions__button--space {
  margin: 0 0.5rem;
}

.transactions__row:hover {
  cursor: pointer;
}
