.button {
  font-family: inherit;
  font-weight: 400;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
}

.button--primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-white);
}

.button--primary:focus {
  border: 2px solid var(--color-lightblue);
}

.button--primary:hover {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-black);
}

.button--secondary {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--color-lightgray);
  color: var(--color-black);
}

.button--secondary:hover {
  border: 2px solid var(--color-primary);
}

.button--secondary:focus {
  border: 2px solid var(--color-lightblue);
}

.button--disabled,
.button--disabled:hover {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  color: var(--color-white);
  cursor: default;
}

.button--small {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.button--medium {
  font-size: 1.4rem;
  padding: 1.1rem 2.4rem;
}

.button--large {
  font-size: 1.6rem;
  padding: 1.2rem 2.8rem;
}

.button--fullwidth {
  width: 100%;
}
