.card {
  width: 100%;
  font-size: 1.4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.row--header {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.row--border {
  border-bottom: 1px solid lightgrey;
}

.row--bold {
  font-weight: 700;
}

.row--last {
  border-bottom: 2px solid lightgrey;
}

.col {
  width: 100%;
}

.col--right {
  text-align: right;
}
