.header {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  position: sticky;
  top: 0;

  &__logo-box {
    padding-top: 6px;

    a {
      text-decoration: none;
    }

    &__logo {
      height: 3.2rem;
    }
  }

  &__auth-box {
    font-size: 2rem;

    a {
      text-decoration: none;
      color: var(--color-primary);
    }
  }
}

.dropbtn--header {
  font-size: 2rem;
}
