.input {
  font-family: 'Lato', sans-serif;
  display: block;
  width: 100%;
  padding: 0.5em 0.5em;
  background: none;
  border: solid 1px var(--color-light);
  color: inherit;
  border-radius: 0.5em;

  &--small {
    font-size: 1.2rem;
  }

  &--medium {
    font-size: 1.4rem;
  }

  &--large {
    font-size: 1.6rem;
  }

  &--disabled {
    background-color: var(--color-light);
  }
}

.input-label {
  &--small {
    font-size: 1.2rem;
  }

  &--medium {
    font-size: 1.4rem;
  }

  &--large {
    font-size: 1.6rem;
  }
}
