.input-box {
  &--four {
    width: 15%;
  }
}

.input {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 0.5em 0.5em;
  background-color: var(--color-white);
  border: solid 1px var(--color-light);
  color: inherit;
  border-radius: 0.5em;
  outline: none;
  display: inline-block;
  appearance: none;

  &--small {
    font-size: 1.2rem;
  }

  &--medium {
    font-size: 1.4rem;
  }

  &--large {
    font-size: 1.6rem;
  }

  &--disabled {
    background-color: var(--color-light);
  }
}

.input:focus {
  border: solid 1px lightblue;
}

.input-label {
  &--small {
    font-size: 1.2rem;
  }

  &--medium {
    font-size: 1.4rem;
  }

  &--large {
    font-size: 1.6rem;
  }
}

.input-error {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--color-danger);
}

.input-warning {
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--color-warning);
}
