.navigation {
  position: relative;
  margin: 0 auto;
  height: 4.2rem;

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }

  a,
  a:link,
  a:visited {
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary);
  }

  a:hover,
  a:active {
    color: var(--color-white);
  }

  &__logo-box {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    z-index: 200;
  }

  &__logo {
    height: 2.4rem;
  }

  &__auth-box {
    position: absolute;
    top: 0.9rem;
    right: 4.8rem;
    z-index: 200;

    @media screen and (min-width: 1024px) {
      right: 1.5rem;
    }
  }

  &__user {
    color: var(--color-white);
    cursor: pointer;
  }

  &__menu-box {
    position: absolute;
    top: 0.9rem;
    right: 8.6rem;
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      right: 5.3rem;
    }

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    ul li {
      display: inline-block;
      margin-left: 2rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__button {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    height: 2.8rem;
    width: 1.8rem;
    z-index: 200;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 150;
    background-color: var(--color-black);

    visibility: hidden;
    height: 0;

    transition: all 0.8s;
  }

  &__list {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    visibility: hidden;
  }

  &__link,
  &__link:link,
  &__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0;
    padding: 0;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s;
  }

  &__link:hover,
  &__link:active {
    color: var(--color-white);
    transform: translateY(-0.5rem);
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
    height: 100vh;

    @media screen and (min-width: 1024px) {
      visibility: hidden;
    }
  }

  &__checkbox:checked ~ &__nav &__list {
    visibility: visible;

    @media screen and (min-width: 1024px) {
      visibility: hidden;
    }
  }

  &__icon {
    position: relative;
    margin-top: 1.2rem;
    transition: all 0.4s;

    &,
    &::before,
    &::after {
      width: 1.8rem;
      height: 0.2rem;
      background-color: var(--color-white);
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.4s;
    }

    &::before {
      top: -0.7rem;
    }

    &::after {
      top: 0.7rem;
    }
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked ~ &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
