.pagetitle {
  font-size: x-large;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.pagetitle__title-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: x-large;
  font-weight: 700;
  padding: 0;
}

.pagetitle__left-title,
.pagetitle__right-title {
  margin: 0;
  padding: 0;
}

.pagetitle__right-title {
  text-transform: uppercase;
}

.pagetitle__year {
  font-weight: 300;
}

.pagetitle__icon {
  color: var(--color-primary);
  cursor: pointer;
}

.pagetitle__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 4rem;
  width: 100%;
  margin-top: 0.5rem;
  -webkit-overflow-scrolling: touch;
}

.pagetitle__space {
  margin: 0 0.5rem;
}

.pagetitle__selected {
  font-weight: 700;
}

/* .pagetitle__list::-webkit-scrollbar {
  display: none;
} */

.pagetitle__item-box {
  flex: 0 0 auto;
  font-size: medium;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.pagetitle__not-selected:hover {
  cursor: pointer;
  color: var(--color-primary);
}
