.header {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-white);

  &__bars-box {
    display: inline-block;
    font-size: 2rem;
  }

  &__logo-box {
    // adds top space to logo for alignment
    padding-top: 6px;

    a {
      text-decoration: none;
    }

    &__logo {
      height: 3.5rem;
    }
  }

  &__nav-box {
    ul {
      li {
        display: inline;
        margin-right: 2rem;

        a {
          text-decoration: none;
        }
      }
    }
  }

  &__auth-box {
    color: var(--color-primary);
    font-size: 2rem;

    a {
      text-decoration: none;
      color: var(--color-primary);
    }
  }
}
