.header-container {
  width: 100%;
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 97;
}

.header {
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }

  &__bars-box {
    display: inline-block;
    font-size: 2rem;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__nav-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__logo-box {
      // adds top space to logo for alignment
      padding-top: 0.6rem;

      a {
        text-decoration: none;
      }

      &__logo {
        height: 3.2rem;
      }
    }

    ul {
      display: none;

      @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;
      }

      li {
        display: inline-block;
        margin-right: 2rem;

        a {
          font-weight: 300;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  &__auth-box {
    color: var(--color-primary);
    font-size: 2rem;

    a {
      text-decoration: none;
      color: var(--color-primary);
    }
  }
}
