.sign-in-sign-up {
  margin: 0 auto;
  max-width: 320px;
  padding: 0;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  align-items: center;

  &__error {
    width: 100%;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    padding: 1.5rem 2.5rem;
    background-color: var(--color-danger-light);
    color: var(--color-danger);
  }

  &__title {
    margin-top: 2rem;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  &__google {
    width: 100%;
    margin: 1rem 0 1.2rem 0;
  }

  &__separator {
    color: var(--color-light);
    width: 100%;
    text-align: center;

    &--or {
      width: 12%;
      display: inline-block;
      color: var(--color-light);
    }

    &--left,
    &--right {
      width: 44%;
      border-bottom: 1px solid var(--color-light);
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__input-box {
    width: 100%;
    margin-top: 0.7rem;
  }

  &__input {
    margin-top: 0.25rem;
  }

  &__email {
    width: 100%;
    margin: 2.5rem 0 0.8rem 0;
  }

  &__terms {
    font-size: 1rem;
    text-align: center;
  }

  &__sign-up {
    margin: 2rem 0 3rem 0;
    font-size: 1.2rem;
    text-align: center;
  }

  &__bottom {
    margin-bottom: 3rem;
  }

  &__form {
    width: 100%;
  }
}

.google-logo {
  width: 1.8rem;
  margin-right: 0.8rem;
  margin-bottom: -0.1rem;
  margin-top: -0.4rem;
  vertical-align: middle;
}

.button--sign-in-sign-up {
  width: 100%;
}

.input--sign-in-sign-up {
  width: 100%;
}

.checkbox--sign-in-sign-up {
  display: flex;
  align-items: center;
  margin-bottom: -0.5rem;
}
