.sign-in-sign-up {
  margin: 2rem auto;
  max-width: 32rem;
  padding: 1.5rem 2.5rem;
  border: 1px solid var(--color-light);
  box-shadow: 0rem 0.3rem 1rem rgba(black, 0.15);
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo-box {
    margin: 1rem 0;

    &__logo {
      height: 4rem;
      vertical-align: middle;
    }

    &__text {
      margin-left: 0.5rem;
      font-weight: bold;
    }
  }

  &__title {
    margin-top: 0.5rem;
  }

  &__subtitle {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
  }

  &__google {
    width: 100%;
    margin: 2rem 0 1.5rem 0;
  }

  &__separator {
    color: #808080;
    width: 100%;
    text-align: center;

    &--or {
      width: 12%;
      display: inline-block;
      color: var(--color-black);
    }

    &--left,
    &--right {
      width: 44%;
      border-bottom: 1px solid #d4d7dc;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__user-id,
  &__password {
    width: 100%;
    margin-top: 0.5rem;
  }

  &__input {
    margin-top: 0.25rem;
  }

  &__email {
    width: 100%;
    margin: 2.5rem 0 0.8rem 0;
  }

  &__terms {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  &__sign-up {
    margin: 2rem 0 3rem 0;
    font-size: 1.2rem;
    text-align: center;
  }

  &__bottom {
    margin-bottom: 3rem;
  }
}

.google-logo {
  width: 2rem;
  margin-right: 0.8rem;
  margin-bottom: -0.1rem;
  margin-top: -0.4rem;
  vertical-align: middle;
}

.button--sign-in-sign-up {
  width: 100%;
}

.input--sign-in-sign-up {
  width: 100%;
}
